# .NET
bin/
obj/
.vs/
*.user
*.suo

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Python cache / tools
.pytest_cache/
.mypy_cache/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log